* {
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(11, 99, 8);
    color: white;
}

.menu {
    display: flex;
    align-items:center;
}

.menu li {
    width: 10%;
    list-style: none;
}

.menu a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.menu a:hover {
    background-color: white;
    color: black;
    border: 5px white solid;
    border-radius: 3px;
}

.logo img {
    width: 18%;
    padding: 2% 5% 2% 5%;
}

.logo {
    flex-grow: 3;
}
